---
layout: home
---

<section class="section-banner section-background overlay-grid">
    <div class="container">
        <div class="ss-banner-content">
            <h1 class="fs-42">専任のサーバープランナーによる <br/> フルサポート型レンタルサーバー</h1>
            <a href="#" class="btn btn-primary iconright"> お申し込み/ ３０日無料トライアル <i class="icon-arrow-1"></i></a> &nbsp;
            <a href="#" class="btn btn-black iconright"> CONTACT <i class="icon-arrow-1"></i></a>
        </div>
    </div>
    <img class="img-background" src="{{ 'images/banner.jpg'| prepend: site.baseurl }}" alt=""/>
</section>

<section class="section-option">
    <div class="container">
        <div class="pricingTable pricing-style1 owl-carousel">

            <div class="col1">
                <a href="{{ site.baseurl }}package.html#package-id-1">
                    <div class="item equalHeight">
                        <div class="title cl-main"> 海外進出時！先ずは <br/> メールを開設！</div>
                        <div class="title2">ライトプラン</div>
                        <div class="groupPrice">
                            <div>
                                <span class="p1">RM</span>
                                <span class="p2"> <span class="bebas">200</span>  </span>
                                <span class="p3">/月</span>
                            </div>
                            <span class="p4"> &lt; 5000 yen/m  &gt; </span>
                        </div>
                        <div class="itemValue"><span class="bgw">メール</span> サーバー</div>
                        <ul class="list-square">
                            <li>初期費用０円</li>
                            <li>電話・メールサポート</li>
                            <li>メールソフトの設定から使い方まで！</li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="col2 ">
                <a href="{{ site.baseurl }}package.html#package-id-2">
                <div class="item equalHeight active">
                    <div class="title cl-main"> メールor WEBサーバー <br/> を海外ドメインで運用</div>
                    <div class="title2">ベーシックプラン</div>
                    <div class="groupPrice">
                        <div>
                            <span class="p1">RM</span>
                            <span class="p2"> <span class="bebas">260</span> <span class="p2-1"> ~ </span> </span>
                            <span class="p3">/月</span>
                        </div>
                        <span class="p4"> &lt; 6500  yen/m  &gt; </span>
                    </div>
                    <div class="itemValue"><span class="bgw">メール</span> or <span class="bgw">Web</span> サーバー</div>
                    <div class="itemValue"> ドメイン</div>

                    <ul class="list-square">

                        <li>初期費用、サーバータイプにより</li>
                        <li>専任エンジニアのフルサポート</li>
                        <li>共用サーバーと専用サーバー</li>
                    </ul>
                </div>
                </a>
            </div>

            <div class="col3">
                <a href="{{ site.baseurl }}package.html#package-id-3">
                <div class="item equalHeight">
                    <div class="title cl-main"> メールの設定から <br/> ホームページ制作まで</div>
                    <div class="title2">フルカバープラン</div>
                    <div class="groupPrice">
                        <div>
                            <span class="p1">RM</span>
                            <span class="p2"> <span class="bebas">260</span>  </span>
                            <span class="p3">/月</span>
                            <span class="p3-1"> + </span>
                            <span class="p3-2">  WEB <br/> 制作  </span>

                        </div>
                        <span class="p4"> &lt; 6500  yen/m  &gt; </span>
                    </div>
                    <div class="itemValue"><span class="bgw">メール</span> サーバー</div>
                    <div class="itemValue"> ドメイン</div>
                    <div class="itemValue"> WEB制作</div>
                    <ul class="list-square">

                        <li>初期費用、サーバータイプにより</li>
                        <li>専任エンジニア、フルサポート</li>
                    </ul>
                </div>
                </a>
            </div>

        </div>
        <div class=" pb-30 fs-16 text-center">
            <span>３つのプランにプラス</span> <br/>
            <span class="bebas fs-38">+  OPTION  +</span>
        </div>
        <div class="row grouplink">
            <div class="col-xs-6">
                <a href="{{site.baseurl}}folder-share.html" class="item fs-22 ">
                    <span class="title cl-main fs-16">多久点間のデータ共有</span>
                    <span>共有フォルダー</span>
                    <i class="icon-arrow-1"></i>
                </a>
            </div>
            <div class="col-xs-6">
                <a href="#" class="item fs-22 ">
                    <span class="title cl-main fs-16">ホームページの見直し・多言語化</span>
                    <span>WEB 制作　お問い合わせへ</span>
                    <i class="icon-arrow-1"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section-feature row-section">
    <div class="container">
        <h2 class="section-title">
            <span class="bg">HIGH QUALITY SUPPORT SERVER</span>
            <span class="text">FEATURE</span>
        </h2>
        <h4 class="mb-40 text-center">専任のサーバープランナーが契約から導入後の保守サポートまで二人三脚で伴走します。</h4>
        <div class="items-grid">
            <div class="item">
                <h3 class="title cl-main"> サーバープランナーによる <br/> ヒアリングから最適プランのご提案</h3>
                <p>コスト重視の共用サーバから、大規模サイト、アクセス負荷の高いコ
                    ンテンツに最適な専用サーバまで、お客様の用途に合わせたプランか
                    らお選びいただけます。日本で20年のサーバ運営実績を持つ当社エ
                    ンジニアと共に、最適なプランをご提案させていただきます。</p>
            </div> <!-- /item -->
            <div class="item">
                <h3 class="title  cl-main"> トラブル発生時の迅速な対応 <br/> 障害レポートとWEB公開 </h3>
                <p>サーバは日本から遠隔監視を行い、トラブル発生時には現地エンジ
                    ニアが迅速に対応、報告します。全てのサポートは日本語にて対応
                    いたします。（もちろん英語対応も可能です）</p>
            </div><!-- /item -->
            <div class="item">
                <h3 class="title cl-main"> 専任の担当者が各種サーバー設定 <br/>
                    をした状態でお渡しします</h3>
                <p>当社日本人エンジニアがお客様のご要望に応じてサーバ設定を行い、
                    納品させていただきます。どのようなご要望でも、お気軽にご相談
                    ください。</p>
            </div> <!-- /item -->
            <div class="item">
                <h3 class="title  cl-main"> 24時間365日監視 <br/>
                    PINGによる死活監視 </h3>
                <p>全てのサーバは常時監視を行っております。緊急事態時の連絡と
                    対応も、迅速にとらせていただきます。</p>
            </div><!-- /item -->
        </div> <!-- items-grid -->


        <div class="row groupbtn">
            <div class="col-sm-8 col-sm-offset-2">
                <a href="#" class="btn btn-primary btn-lg iconright mb-15">
                    お申し込み / ３０日無料トライアル
                    <i class="icon-arrow-1"></i>
                </a>
                <div class="row grid-space-0">
                    <div class="col-sm-6">
                        <ul class="list-arrow pt-8">
                            <li>ご利用開始までの流れ</li>
                            <li>よくある質問</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <a href="#" class="btn btn-grey btn-md iconright ">
                            ご相談・お問い合わせ
                            <i class="icon-arrow-1"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div> <!-- groupbtn -->


        <div class="row ">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="wrap-tabs ">
                    <!-- Nav tabs -->
                    <ul class="menu-tabs items-2" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab-home-1" aria-controls="tab-home-1" role="tab" data-toggle="tab">お知らせ</a>
                        </li>
                        <li role="presentation">
                            <a href="#tab-home-2" aria-controls="tab-home-2" role="tab" data-toggle="tab">障害/メンテナンス</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab-home-1">
                            <div class="latestnews">

                                {% assign postCounter = 0 %}
                                {% assign maxPost = 5 %}
                                {% for post in site.posts %}
                                {% if post.categories contains 'notice' %}
                                <div class="item">
                                    <a href="{{ post.url | prepend: site.baseurl }}">
                                        <span class="date">{{ post.date | date: "%Y/%m/%d" }}　</span>
                                        <span class="name"> {{ post.title }} </span>
                                    </a>
                                </div> <!-- /item -->
                                {% assign postCounter = postCounter | plus: 1 %}
                                {% if postCounter >= maxPost %}
                                {% break %}
                                {% endif %}
                                {% endif %}
                                {% endfor %}

                                <div class="text-center pt-30">
                                    <a href="{{ site.base }}faq/news-anouncement.html" class="btn btn-grey   ">
                                        <i class="icon-arrow-1"></i> &nbsp; お知らせ一覧
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab-home-2">
                            <div class="latestnews">
                                {% assign postCounter = 0 %}
                                {% assign maxPost = 5 %}
                                {% for post in site.posts %}
                                {% if post.categories contains 'error' %}
                                <div class="item">
                                    <a href="{{ post.url | prepend: site.baseurl }}">
                                        <span class="date">{{ post.date | date: "%Y/%m/%d" }}　</span>
                                        <span class="name"> {{ post.title }} </span>
                                    </a>
                                </div> <!-- /item -->
                                {% assign postCounter = postCounter | plus: 1 %}
                                {% if postCounter >= maxPost %}
                                {% break %}
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                <div class="text-center pt-30">
                                    <a href="{{ site.base }}faq/news-maintenance.html" class="btn btn-grey   ">
                                        <i class="icon-arrow-1"></i> &nbsp; お知らせ一覧
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  <!-- /tabs -->
            </div>
        </div>
    </div>
</section>