<!DOCTYPE html>
<html>
{% include head.html %}
<body class="news">
<div id="wrapper">
    <span class="menu-btn overlay"></span>
    {% include header.html %}
    <section id="section-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{{ site.baseurl }}"> <span>HOME</span></a></li>
                <li><a href="#">{{ page.title }}</a></li>
            </ul>
        </div>
    </section>
    {{ content }}
    {% include footer.html %}
</div>
{% include sidebar_menu.html %}

{% include script.html %}
</body>
</html>
